@{
    ViewBag.Title = "Thankyou";
}
<!DOCTYPE html>
<html>

    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Thankyou</title>

    </head>
    <body>
        <div class="thankyou-content">
            <h2> align="center">Thank You for Visiting!</h2>
            <p>Thank You for your information. Let's keep in touch! Feel free to continue to check my page out. </p>
        </div>
    </body>
</html>
