@{
    ViewBag.Title = "Index";
}
<html>
<!doctype html>

<head>
    <title>About Me</title> 

</head>
<body>
    <div class="about-pic" style="text-align: center">
        <img src="https://z-1-scontent-b.xx.fbcdn.net/hphotos-prn2/v/t1.0-9/225046_10150193973862566_7055394_n.jpg?oh=6cf3516d32f270f5f9071199dd392604&oe=54AE5330" alt="Photo" />
        </div>
    <div class="about-content">
        <h2>About Me</h2>
        
        <p>Looking for an entry level software development position. As a technical recruiter, I was tasked with finding IT talent. While recruiting I found myself more interested in the positions I was recruiting for than the job I was hired to do. Not only did I want to learn more about what these positions entailed, but I also wanted to learn about the technologies being utilized. I was immediately fascinated with the Oracle database and programming languages. This fascination and my love for technology compelled me to earn my degree at Metro State, which built the foundation for me to pursue a career as a well-rounded software professional!</p>
    </div>
 </body>
</html>

