@{
    ViewBag.Title = "Index";
}
<!doctype html> 
<html>    
<head>
    <title>Home Page</title>
    </head>
<body>
    <div class="homepage-content">

        <div class="div1">
            <img src="http://coverlayout.com/facebook/covers/neg_mind/neg_mind.jpg" alt="Home Page Image" />
        </div>

        <div class="div2">
            <h2 align="center">About Me</h2>
            <p> I am a Colorado Native. I am an oldie but goodie. I have a strong love for technology. Technology was my first love. I will fill you in more about myself later. </p>
        </div>
        <div class="div3">
            <h2 align="center">Work</h2>
            <p>At SeedPaths I have learn a lot and her are some of my creative work examples.</p>
        </div>
        <div class ="div4">
            <h2 align="center">Contact</h2>
            <p>Lets keep in contact</p>
        </div>
    </div>

</body>
   </html>

