@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>
    <head>
        <title>Work Page</title>
    </head>
    <body>
        <div ="work-content">
            <h2 align="center">Samples Of My work</h2>
            <br />
            <div class="img">
                <img src="http://www.timelinecovers.pro/covers-images/thumbs/Always%20be%20positive.jpg" alt="Positive Photo 1" width="250" height="180"/>
                <p>Work Sample</p>
            </div>
            <div class="img">
                <img src="http://www.freegreatimages.com/wp-content/uploads/2014/06/life-quotes-facebook-covers-be-the-change-3.jpg" alt="Positive Photo 2" width="250" height="180"/>
                <p>Work Sample 2</p>
            </div>
            <div class="img">
                <img src="http://justhappyquotes.com/wp-content/uploads/2013/10/lillian-vernon_quotes_power-of-positive-thinking.jpeg" alt="Positive Photo 3"  width="250" height="180"/>
                <p>Work Sample 3</p>
            </div>
            <div class="img">
                <img src="http://partylive911.com/wp-content/uploads/2014/05/be-awesome.jpg?w=505" alt="Positive Photo 4" width="250" height="180"/>
                <p>Work Sample 4</p>
            </div>
        </div>
    </body>
</html>
